In [1]:
import os
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
params_df = pd.read_excel("C:\\Users\\Nefeli\\Desktop\\opti2_stat_scripts\\pso_results\\pso_min.xlsx")

In [3]:
params_df

,nb_r,N,costVal_mean,feasibility_mean,lastHit_mean,costVal_median,feasibility_median,lastHit_median,costVal_std,feasibility_std,lastHit_std,costVal_min,feasibility_min,lastHit_min,costVal_max,feasibility_max,lastHit_max
0,0,50,433.413111,1,106608.76,432.035678,1,90262,13.881304,0,61096.385354,406.458291,1,4747,466.066884,1,179045
1,0,100,425.656518,1,109297.40,424.942921,1,104769,12.289021,0,57654.132204,406.649806,1,28962,456.491945,1,199905
2,0,200,421.929134,1,85945.56,423.887200,1,84060,15.200282,0,42531.585006,387.125236,1,23803,451.772748,1,168243
3,5,50,425.763775,1,114112.00,428.101784,1,103317,12.192127,0,54120.795883,396.304405,1,10661,441.646804,1,199999
4,5,100,423.121611,1,117209.76,422.542661,1,116953,11.935331,0,43496.262609,402.408151,1,57515,444.847491,1,196062
5,5,200,410.326940,1,154642.12,413.673383,1,159847,13.828622,0,35023.542621,366.565460,1,77412,429.634918,1,199996

In [4]:
to_drop = ['feasibility_mean','feasibility_median',
          'feasibility_std',
          'feasibility_min',
          'feasibility_max']
params_df.drop(to_drop, axis=1, inplace=True)

In [5]:
params_df

,nb_r,N,costVal_mean,lastHit_mean,costVal_median,lastHit_median,costVal_std,lastHit_std,costVal_min,lastHit_min,costVal_max,lastHit_max
0,0,50,433.413111,106608.76,432.035678,90262,13.881304,61096.385354,406.458291,4747,466.066884,179045
1,0,100,425.656518,109297.40,424.942921,104769,12.289021,57654.132204,406.649806,28962,456.491945,199905
2,0,200,421.929134,85945.56,423.887200,84060,15.200282,42531.585006,387.125236,23803,451.772748,168243
3,5,50,425.763775,114112.00,428.101784,103317,12.192127,54120.795883,396.304405,10661,441.646804,199999
4,5,100,423.121611,117209.76,422.542661,116953,11.935331,43496.262609,402.408151,57515,444.847491,196062
5,5,200,410.326940,154642.12,413.673383,159847,13.828622,35023.542621,366.565460,77412,429.634918,199996

In [6]:
cv_df = params_df[['nb_r','N','costVal_mean','costVal_median','costVal_std','costVal_min','costVal_max']]
lh_df = params_df[['nb_r','N','lastHit_mean','lastHit_median','lastHit_std','lastHit_min','lastHit_max']]

In [7]:
latex_table = cv_df.to_latex(
    index=False,        # Exclude row indices
    column_format='|c|c|c|c|c|c|c|c|',  # Specify column formatting
    escape=False        # Disable LaTeX escaping of special characters
)
print(latex_table)

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\toprule
nb_r & N & costVal_mean & costVal_median & costVal_std & costVal_min & costVal_max \\
\midrule
0 & 50 & 433.413111 & 432.035678 & 13.881304 & 406.458291 & 466.066884 \\
0 & 100 & 425.656518 & 424.942921 & 12.289021 & 406.649806 & 456.491945 \\
0 & 200 & 421.929134 & 423.887200 & 15.200282 & 387.125236 & 451.772748 \\
5 & 50 & 425.763775 & 428.101784 & 12.192127 & 396.304405 & 441.646804 \\
5 & 100 & 423.121611 & 422.542661 & 11.935331 & 402.408151 & 444.847491 \\
5 & 200 & 410.326940 & 413.673383 & 13.828622 & 366.565460 & 429.634918 \\
\bottomrule
\end{tabular}

In [8]:
latex_table = lh_df.to_latex(
    index=False,        # Exclude row indices
    column_format='|c|c|c|c|c|c|c|c|',  # Specify column formatting
    escape=False        # Disable LaTeX escaping of special characters
)
print(latex_table)

\begin{tabular}{|c|c|c|c|c|c|c|c|}
\toprule
nb_r & N & lastHit_mean & lastHit_median & lastHit_std & lastHit_min & lastHit_max \\
\midrule
0 & 50 & 106608.760000 & 90262 & 61096.385354 & 4747 & 179045 \\
0 & 100 & 109297.400000 & 104769 & 57654.132204 & 28962 & 199905 \\
0 & 200 & 85945.560000 & 84060 & 42531.585006 & 23803 & 168243 \\
5 & 50 & 114112.000000 & 103317 & 54120.795883 & 10661 & 199999 \\
5 & 100 & 117209.760000 & 116953 & 43496.262609 & 57515 & 196062 \\
5 & 200 & 154642.120000 & 159847 & 35023.542621 & 77412 & 199996 \\
\bottomrule
\end{tabular}